<ul>
	<li class="gmMarginBottom10p">
		<b>Account Name: </b> {{accnm}}
	</li>
	<li class="gmMarginBottom10p">
		<span class="gmMarginRight5p"><b>AD: </b> {{adnm}} </span>
		<span class="gmMarginLeft5p"><b>VP: </b> {{vpnm}} </span>
	</li>
	<li>
		<b>Sales Rep: </b><span class="gmLink"><a href='#crm/fieldsales/id/{{repid}}'>{{repnm}}</a></span>
	</li>
</ul>